<!DOCTYPE html>
<html>
    <head>
        <title>Customer List</title>
    </head>
    <body>
        <h1>Customer List</h1>
        <table>
            <thead>
                <tr>
                    <th>First_Name</th>
                    <th>Last_Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
            </tr>
            <td>John</td>
            <td>Doe</td>
            <td>073 567 0988</td>
            <td>1148 Motsatsi streetTlhabane 0299</td>
        </tr>
        </tbody>
    </table>
</body>
</html>
