{%block content%}
<table>
    <thead>
        <tr>
        <h1>Medicine List</h1>
    </head>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Pharmacy</th>
                </tr>
            </thead>
            <tbody>
              {% for medicine in medicines%}
            </tr>
            <td>{{medicine.name}}</td>
            <td>{{medicine.description}}</td>
            <td>{{medicine.pharmacy}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No medicines found.</td>
        </tr>
        {% endfor %}  
        </tbody>
    </table>
</html>
{% endblock %}
